/**
 *    ┓ ┏┏┓┓┏┳┓┏┓┳┓  ┏┓┏┓┏┓
 *    ┃┃┃┣┫┗┫┣┫┣┫┣┫  ┃ ┗┓┗┓
 *    ┗┻┛┛┗┗┛┻┛┛┗┛┗  ┗┛┗┛┗┛
 *                  by Manu
 */


/*------------Defining Colors---------------*/
@define-color background      #1e1e2e;
@define-color background-alt  #313244;
@define-color foreground      #cdd6f4;
@define-color foreground-alt  #1e1e2e;
@define-color red             #f38ba8;
@define-color green           #a6e3a1;
@define-color yellow          #f9e2af;
@define-color blue            #89b4fa;
@define-color magenta         #f5c2e7;
@define-color cyan            #94e2d5;


/*------------Global Properties-----------------*/
* {
    border: none;
    border-radius: 0px;
    font-family: "Liga SFMono Nerd Font", "JetBrainsMonoNL Nerd Font Propo";
    font-weight: 600;
    font-size: 14px;
    min-height: 0;
}

/*------------Window--------------------*/
#window{
    background: @background;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: normal;
    font-style: normal;
}

/*----------Waybar Window------------*/
window#waybar {
    background: alpha(@background, 0.5);
}

/*-----------Tooltip--------------*/
tooltip {
  background: @background;
  }

  tooltip label {
  color: @foreground;
  padding: 6px;
}

/*---------Workspaces-----------------*/
#workspaces {
    background: @background;
    margin: 5px 5px;
    padding: 8px 5px;
    border-radius: 16px;
    color: @foreground;
}
#workspaces button {
    font-weight: bold;
    padding: 0px 5px;
    margin: 0px 3px;
    border-radius: 16px;
    color: transparent;
    background: @background-alt;
    transition: all 0.3s ease-in-out;
}

#workspaces button.active {
    font-weight: bold;
    background-color: @blue;
    color: @foreground-alt;
    border-radius: 16px;
    min-width: 50px;
    background-size: 400% 400%;
    transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
    font-weight: bold;
    background-color: @cyan;
    color: @foreground-alt;
    border-radius: 16px;
    min-width: 50px;
    background-size: 400% 400%;
}

#workspaces button.urgent {
    font-weight: bold;
    background-color: @red;
    color: @foreground-alt;
    border-radius: 16px;
    min-width: 50px;
    background-size: 400% 400%;
    transition: all 0.3s ease-in-out;
}


/*-----------Weather, Pacman & Screenrecording-indicator------------*/
#custom-swaync, #custom-weather, #custom-screenrecording-indicator, #custom-pacman {

    font-weight: bold;
    background: @background;
    margin: 5px; 
    padding: 8px 20px;
    color: @magenta;
}
#custom-weather {
    border-radius: 24px 10px 24px 10px;
}

#custom-pacman {
    border-radius: 24px 10px 24px 10px;
}

#custom-screenrecording-indicator {
   color: @red; 
   border-radius: 24px 10px 24px 10px;
}


/* #custom-swaync { */
/*     border-radius: 10px 24px 10px 24px; */
/* } */

/*---------------Tray, Clock, Playerctl, Cpu, Temperature, Memory, Idle_inhibitor----------------------*/
#tray, #bluetooth, #pulseaudio, #network, #cpu, #temperature, #memory, #idle_inhibitor,
#custom-playerctl.backward, #custom-playerctl.play, #custom-playerctl.foward{
    background: @background;
    font-weight: bold;
    margin: 5px 0px;
}
#tray, #bluetooth, #pulseaudio, #network {
    color: @foreground;
    border-radius: 10px 24px 10px 24px;
    padding: 0 20px;
    margin-left: 7px;
}

#pulseaudio.muted {
color: @red;
}

#clock {
    color: @blue;
    background: @background;
    border-radius: 0px 0px 0px 40px;
    padding: 10px 10px 15px 25px;
    margin-left: 7px;
    font-weight: bold;
    font-size: 14px;
}

#tray menu * {
    padding: 0px 5px;
    transition: all .3s ease; 
}

#tray menu separator {
    padding: 0px 5px;
    transition: all .3s ease; 
}


/*-----------Playerctl-------------------*/
#custom-playerctl.backward, #custom-playerctl.play, #custom-playerctl.foward {
    background: @background;
    font-size: 22px;
}
#custom-playerctl.backward:hover, #custom-playerctl.play:hover, #custom-playerctl.foward:hover{
    color: @foreground;
}
#custom-playerctl.backward {
    color: @blue;
    border-radius: 24px 0px 0px 10px;
    padding-left: 16px;
    margin-left: 10px;
}
#custom-playerctl.play {
    color: @magenta;
    padding: 0 5px;
}
#custom-playerctl.foward {
    color: @blue;
    border-radius: 0px 10px 24px 0px;
    padding-right: 6px;
    margin-right: 7px
}
#custom-playerlabel {
    background: @background;
    color: @foreground;
    padding: 0 20px;
    border-radius: 24px 10px 24px 10px;
    margin: 5px 0;
    font-weight: bold;
}

/* #custom-screenrecording-indicator { */
/*     background: @background; */
/*     color: @red; */
/*     padding-left: 20px; */
/*     border-radius: 24px 10px 24px 10px; */
/*     margin: 5px 0; */
/*     margin-left: 7px; */
/*     font-weight: bold; */
/* } */


/*-----------Group--------------*/
#group-utility {
    padding: 0px 5px;
    transition: all .3s ease; 
}

/*-------------Launcher--------------*/
#custom-launcher {
    color: @blue;
    background: @background;
    margin: 0px 5px 0px 0px;
    padding: 0px 35px 0px 15px;
    border-radius: 0px 0px 40px 0px;
    font-size: 28px;
}

/*--------------Cpu, Termperature, Colorpicker, Memory, Idle_inhibitor----------------*/
#cpu, #temperature, #memory,#idle_inhibitor {
    background: @background;
    font-size: 16px;
}

#cpu {
    color: @blue;
}

#memory {
    color: @cyan;
}

#temperature {
    color: @yellow;
}

#custom-pacman {
    color: @magenta;
}

#idle_inhibitor {
    color: @foreground;
}

#idle_inhibitor.activated {
    color: @red;
}

#cpu {
    border-radius: 24px 0px 0px 10px;
    padding-left: 16px;
    padding-right: 7px;
    margin-left: 7px;
}

#temperature, #memory{
    padding-left: 7px;
    padding-right: 7px;
}

#idle_inhibitor {
    border-radius: 0px 10px 24px 0px;
    padding-left: 7px;
    padding-right: 16px;
    margin-right: 9px
}

/*---------------Expand---------------*/
#custom-expand {
    background: transparent;
    color: @foreground;
    margin: 1px;
    padding-left: 16px;
    font-size: 22px;
}

#custom-expand:hover {
    color: @cyan;
}

