
/*------------ Defining Colors ---------------*/
@define-color background      #1e1e2e;
@define-color background-alt  #313244;
@define-color foreground      #cdd6f4;
@define-color foreground-alt  #1e1e2e;
@define-color red             #f38ba8;
@define-color green           #a6e3a1;
@define-color yellow          #f9e2af;
@define-color blue            #89b4fa;
@define-color magenta         #f5c2e7;
@define-color cyan            #94e2d5;

/*------------ Global Properties -----------------*/
* {
    border: none;
    border-radius: 0px;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: 700;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: @background;
}

/*----------- Tooltip --------------*/
tooltip {
    background: @background;
    border-radius: 6px;
}

tooltip label {
    color: @foreground;
    padding: 4px;
}

/*--------- Workspaces -----------------*/
#workspaces {
    background: @background;
    margin: 3px 4px;
    padding: 5px 4px;
    border-radius: 12px;
}

#workspaces button {
    padding: 0 4px;
    margin: 0 2px;
    border-radius: 12px;
    background: @background-alt;
    color: transparent;
    transition: all 0.3s ease;
}

#workspaces button.active {
    background-color: @foreground;
    color: @foreground-alt;
    min-width: 36px;
}

#workspaces button:hover {
    background-color: @blue;
    color: @foreground-alt;
    min-width: 36px;
}

#workspaces button.urgent {
    background-color: @red;
    color: @foreground-alt;
    min-width: 36px;
}

/*----------- Modules Common Style ------------*/
#custom-weather, 
#custom-pacman,
#bluetooth, 
#pulseaudio, 
#network,
#clock,
#custom-playerlabel {
    background: @background;
    color: @foreground;
    padding: 4px 10px;
    /* Added margin for spacing between modules */
    margin: 0 6px; 
}

/*----------- System Tray -----------*/
#tray {
    margin-right: 8px;
    margin-left: 8px;
}

/*----------- Bluetooth & Expand Icon ------------*/
#bluetooth {
    margin-left: 4px;
}

#custom-expand-icon {
    padding-right: 5px;
    margin-right: 2px;
    color: @foreground;
}

/*------------ Clock ----------------*/
#clock {
    margin-right: 10px;
    min-height: 24px;
}

/*----------- Player Controls -------------------*/
#custom-playerctl.backward, 
#custom-playerctl.play, 
#custom-playerctl.foward {
    background: @background;
    font-size: 18px;
    padding: 0 8px;
    margin: 0 2px;
}

/*------------- Launcher --------------*/
#custom-launcher {
    background: @background;
    margin: 0 10px 0 5px;
    padding: 0 12px;
    font-size: 22px;
    color: @foreground;
}

/*-------------- Indicators ----------------*/
#custom-screenrecording-indicator,
#custom-idle-indicator,
#custom-notification-silencing-indicator {
    min-width: 12px;
    margin: 0 8px;
    font-size: 10px;
}

#custom-screenrecording-indicator.active,
#custom-idle-indicator.active,
#custom-notification-silencing-indicator.active {
    color: @red;
}
