[Desktop Entry]
Name=Neovim
GenericName=Text Editor
Comment=Apri file di testo con Neovim dentro Kitty
Exec=/usr/bin/ghostty -e nvim %f
Terminal=false
Type=Application
MimeType=text/plain;
Categories=Utility;TextEditor;
Icon=nvim

