[Unit]
Description=Bluetooth Applet
After=graphical-session.target
ExecCondition=/lib/systemd/systemd-xdg-autostart-condition "Hyprland" ""

[Service]
Type=simple
ExecStart=/usr/bin/blueman-applet
Restart=on-failure
Slice=app-graphical.slice

[Install]
WantedBy=graphical-session.target
