[Unit]
Description=Dunst Notification Daemon
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/dunst
Restart=on-failure
Slice=app-graphical.slice

[Install]
WantedBy=graphical-session.target
