[Unit]
Description=Dunst notification daemon
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/dunst

[Install]
WantedBy=graphical-session.target
