[Unit]
Description=Hyprland Sunset Daemon
After=graphical-session.target
ExecCondition=/lib/systemd/systemd-xdg-autostart-condition "wlroots:sway:Wayfire:labwc:Hyprland" ""

[Service]
Type=simple
ExecStart=/usr/bin/hyprsunset
Restart=on-failure
Slice=background-graphical.slice
RemainAfterExit=yes

[Install]
WantedBy=graphical-session.target
