[Unit]
Description=Hyprland Polkit Agent
After=graphical-session.target
ExecCondition=/usr/lib/systemd/systemd-xdg-autostart-condition "wlroots:sway:Wayfire:labwc:Hyprland" ""

[Service]
Type=simple
ExecStart=/usr/lib/hyprpolkitagent/hyprpolkitagent
Restart=on-failure
Slice=background-graphical.slice

[Install]
WantedBy=graphical-session.target
