[Unit]
Description=Hyprland Idle Daemon
After=graphical-session.target
ExecCondition=/lib/systemd/systemd-xdg-autostart-condition "wlroots:sway:Wayfire:labwc:Hyprland" ""

[Service]
Type=simple
ExecStart=/usr/bin/hypridle
Restart=on-failure
Slice=background-graphical.slice

[Install]
WantedBy=graphical-session.target
