[Unit]
Description=Swww Daemon
After=graphical-session.target
ExecCondition=/lib/systemd/systemd-xdg-autostart-condition "Hyprland" ""

[Service]
Type=simple
ExecStart=/usr/bin/swww-daemon --format xrgb
Restart=on-failure
Slice=background-graphical.slice

[Install]
WantedBy=graphical-session.target

