[Unit]
Description=Waybar
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=exec
ExecCondition=/usr/lib/systemd/systemd-xdg-autostart-condition "wlroots:sway:Wayfire:labwc:Hyprland" ""
ExecStartPre=/usr/bin/sleep 0.5
ExecStart=/usr/bin/waybar
ExecReload=kill -SIGUSR2 $MAINPID
Restart=always
RestartSec=3
KillMode=mixed
Slice=app-graphical.slice

[Install]
WantedBy=graphical-session.target

