[Unit]
Description=Wayland Clipboard Persistence Daemon
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/wl-clip-persist --clipboard regular --all-mime-type-regex '^(?!x-kde-passwordManagerHint).+'
Restart=on-failure
Slice=background-graphical.slice

[Install]
WantedBy=graphical-session.target
